.logo{
 background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li a {
    float: left;
    font-size: larger;
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-size-adjust: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  li a:hover {
    opacity: 80%;
    color: white;
    transition: 400ms;
  }
  
.firstfoto{
  height: 800px;
  width: 1000px;
  border-radius: 5px;
  border: 2px solid darkred;

}

.tuttext{
    color: darkred;
    text-align: center;
    text-decoration: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
}

