.logo{
    background-color: black;
   }
   ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: black;
     }
     
     li a {
       float: left;
       font-size: larger;
       display: block;
       color: red;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       text-size-adjust: 10px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
     }
   
     li a:hover {
      opacity: 80%;
      color: white;
      transition: 400ms;
    }
    

    .fotky{
        border-radius: 5%;
        height: 700px;
        width: 600px;
    }

    .names{
      color: whitesmoke;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 50px;
    }

    h1{
      color: red;
    }