.logo{
    background-color: black;
   }
   ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: black;
     }
     
     li a {
       float: left;
       font-size: larger;
       display: block;
       color: red;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       text-size-adjust: 10px;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
     }
   
     li a:hover {
      opacity: 80%;
      color: white;
      transition: 400ms;
    }
    

    .tablecolor{
        color: whitesmoke;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid red;
        border-width: 3px;
        text-align: left;
        padding: 8px;
      }
      img{
        height: 700px;
        width: 700px;
      }

      h1{
        color: red;


      }